.container{
	border:2px solid green;
	height:500px;
	width:30%;
	position:relative;
	background-color:yellow;
	margin:80px;
	border-radius:40px;
	box-shadow:8px 8px 8px black;
}

.box1{
	border:2px solid;
	width:30%;
	height:100px;
	position:absolute;
	left:350px;
	top:-50px;
	text-align:center;
	background-color:blue;
	color:green;
	z-index:-1;
	border-radius:20px;
	
}

.box2{
	border:2px solid;
	width:18%;
	height:80px;
	position:absolute;
	left:135px;
	width:30%;
	top:140px;
	background-color:orange;
	color:green;
	text-align:center;
	border-top-left-radius:100px;
	border-bottom-right-radius:100px;
	
}
.box3{
	border:2px;
	width:30%;
	height:100px;
	position:absolute;
	color:green;
	z-index:-1;
	left:-50px;
	top:350px;
	background-color:black;
	text-align:center;
	border-radius:20px;
}